*,
*::before,
*::after {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-size: 100%;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav > img {
    width: 100px;
    height: auto;
}

.search-menu-div {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.search-menu-div > span {
    padding: 18px;
    opacity: 0.5;
    border: 1px solid gray;
    border-top: none;
}

.search-menu-div > span:first-child {
    transform: scaleX(-1);
    border-left: none;
}

.search-menu-div > span:last-child {
    color: red;
}

header > p {
    background-color: #FFDD33;
    font-size: 0.8em;
    white-space: nowrap;
    overflow: hidden;
    padding: 20px 5px;
    text-overflow: ellipsis;
}

header > p > a {
    color: black;
    text-decoration: none;
}

.hide {
    position: absolute;
    clip: rect(1px 1px 1px 1px);
}

.sec-1 {
    display: grid;
    grid-gap: 10px;
    padding: 0 10px;
}

.main-articles {
    background-color: green;
    padding:100px 10px 20px 10px;
    background-size: cover;
    color: white;
}

.sec-1 > .main-articles:nth-child(2) {
    background-image: linear-gradient(to bottom, rgba(150, 150, 150, 0.2), rgba(0, 0, 0, 1)),
    url("images/image4.png"); 
}

.sec-1 > .main-articles:nth-child(3) {
    background-image: linear-gradient(to bottom, rgba(150, 150, 150, 0.2), rgba(0, 0, 0, 1)),
    url("images/image2.jpg"); 
}

.sec-1 > .main-articles:last-child {
    background-image: linear-gradient(to bottom, rgba(150, 150, 150, 0.2), rgba(0, 0, 0, 1)),
    url("images/image3.jpg"); 
}

.main-articles > span {
    font-size: 0.7em;
}

.insights {
    font-weight: 900;
}